.base-theme {
    
    /* Main color */
     --Main-color: #2d72d9;
     
    /* Window */
    --Window-bg: #17181b;
   
    /* Window handler */
    --Window-handler-bg: transparent;
    --Window-handler-height: 33px;
    --Window-handler-shadow: none;
    
    /* Navbar */
    --Navbar-bg: rgba(33,34,37,0.95);
    --Navbar-shadow: none;
    
    /* Tabs */
    --Tab-active: var(--Main-color)
    
    /* Font */
    --Font-family: 'Arial', sans-serif;
    --Font-color: #FFF;
    
    /* Input */
    --Input-bg: rgba(0, 0, 0, 0.5);
    --Input-color: var(--Font-color);
    --Input-radius: none;
    --Input-shadow: none;
    
    /* Button */
    --Button-bg: var(--Main-color);
    --Button-color: var(--Font-color);
    --Button-shadow: none;
    --Button-radius: 5px;
    
    /* Overlay */
    --Overlay-bg: var(--Window-bg);
    --Overlay-alpha: 0.5;
    
    /* Inactive */
    --Inactive-alpha: 0.5;
    
    /* Scrollbar */
    --Scrollbar-radius: 5px;
    --Scrollbar-default: #555;
    --Scrollbar-active: var(--Main-color);
    --Scrollbar-track: rgba(250, 250, 250, 0.5);
}
