:root {
    /* -- { Base } -- */

     /* Font */
    --Font-family: 'Arial', sans-serif;
    --Font-color: #FFF;

    /* Accent */
     --Main-color: #2d72d9;

    /* -- { Window } -- */
    --Window-bg: #17181b;

    /* { Window-handler -> height: 33px } */
    --Window-handler-bg: transparent;
    --Window-handler-height: 33px;
    --Window-handler-shadow: none;

    /* -- { Nav -> height: 45px } -- */
    --Navbar-bg: rgba(33,34,37,0.95);
    --Navbar-shadow: none;
    --Navbar-height: 45px;

    /* -- { Tabs -> height:53px } -- */
    --Tab-bg: var(--Navbar-bg);
    --Tab-active: var(--Main-color);
    --Tab-color: var(--Font-color);
    --Tab-shadow: none;

    /* -- { Actions } -- */

    /* Input */
    --Input-bg: rgba(0, 0, 0, 0.5);
    --Input-color: var(--Font-color);
    --Input-radius: none;
    --Input-shadow: none;

    /* Button */
    --Button-bg: var(--Main-color);
    --Button-color: var(--Font-color);
    --Button-shadow: none;
    --Button-radius: 3px;

    /* Switch */
    --Switch-default: transparent;
    --Switch-active: var(--Main-color);
    
     /* Dropdown */
    --Dropdown-bg: var(--Input-bg);
    --Dropdown-color: #FFF;
    --Dropdown-open-bg: #FFF;
    --Dropdown-open-color: #252525;
    --Dropdown-radius: var(--Input-radius);
    
    /* Modal */
    --Modal-bg: #FFF;
    --Modal-color: #353535;
    --Modal-radius: 3px;
    --Modal-shadow: none;

    /* -- { Misc } -- */

     /* Inactive */
    --Inactive-alpha: 0.5;

    /* Overlay */
    --Overlay-bg: var(--Window-bg);
    --Overlay-alpha: 0.75;

    /* -- { Scrollbar } -- */
    --Scrollbar-size: 5px;
    --Scrollbar-radius: 5px;
    --Scrollbar-margin: 5px;

    /* thumb */
    --Scrollbar-thumb-bg: var(--Main-color);
    --Scrollbar-thumb-hover: var(--Main-color);

    /* track */
    --Scrollbar-track-bg: transparent;
}
