:root {
    
     /* Font */
    --Font-normal: 'Arial', 'Helvetica', sans-serif;
    --Font-title: 'Dosis', sans-serif;
    --Font-color: #FFF;
    
    /* Common */
    --Common-border:  1px solid rgba(0, 0, 0, 0.85);
    --Common-dark: rgba(0, 0, 0, 0.35);
    --Common-light: rgba(255, 255, 255, 0.35);
    --Common-radius: 3px;
   
    
    /* Accent */
     --Main-color: #2d72d9;
    
     /* Navbar */
    --Navbar-bg: rgba(33,34,37,0.95);
    --Navbar-shadow: none;
    /* Navbar -> Get &  Set Navbar's height */
    --Navbar-height: 45px;

    /* Window */
    --Window-bg: #17181b;

    /* Window -> handler  */
    --Window-handler-bg: var(--Navbar-bg);
    --Window-handler-shadow: none;
    
    /* Window -> Get & Set window handler's height */
    --Window-handler-height: 33px;

    /* Tabs */
    --Tabs-bg: var(--Navbar-bg);
    --Tabs-shadow: none;
    
    /* Tabs -> Tab-item */
    --Tab-bg: transparent;
    --Tab-border-size: 3px;
    --Tab-font-size: 20px;
    --Tab-padding: 15px;
    --Tab-active: var(--Main-color);
    --Tab-color: var(--Font-color);
    
    /* Tabs -> Get tabs height */
    --Tabs-height: calc( var(--Tab-font-size) + var(--Tab-padding) * 2 + var(--Tab-border-size) );

    /* Input */
    --Input-bg: var(--Common-dark);
    --Input-border: var(--Common-border);
    --Input-color: var(--Font-color);
    --Input-outline: 0;
    --Input-radius: var(--Common-radius);
    --Input-shadow: none;
    
    /* Input:focus */
     --Input-focus-bg: var(--Common-dark);
     --Input-focus-color: var(--Font-color);

    /* Button */
    --Button-bg: var(--Main-color);
    --Button-border: var(--Common-border);
    --Button-color: var(--Font-color);
    --Button-radius: var(--Common-radius);
    --Button-shadow: none;
   
    /* Button:active */
    --Button-active-bg: var(--Main-color);
    --Button-active-color: var(--Button-color);
    
    /* Button:hover */
    --Button-hover-bg: var(--Main-color);
    --Button-hover-color: var(--Button-color);

    /* Switch */
    --Switch-default: transparent;
    --Switch-active: var(--Main-color);
    
     /* Dropdown */
    --Dropdown-bg: var(--Common-dark);
    --Dropdown-border: var(--Common-border);
    --Dropdown-color: var(--Font-color);
    --Dropdown-radius: var(--Common-radius);
    --Dropdown-shadow: none;
    
    /* Dropdown:open */
    --Dropdown-open-bg: #FFF;
    --Dropdown-open-color: #252525;
    
    /* Modal */
    --Modal-bg: #FFF;
    --Modal-border: var(--Common-border);
    --Modal-color: #353535;
    --Modal-radius: var(--Common-radius);
    --Modal-shadow: none;

     /* Inactive */
    --Inactive-alpha: 0.5;

    /* Overlay */
    --Overlay-bg: var(--Window-bg);
    --Overlay-alpha: 0.75;

    /* -- Scrollbar -- */
    --Scrollbar-margin: 5px;
    --Scrollbar-size: 5px;
    --Scrollbar-radius: 5px;

    /* Scrollbar -> thumb */
    --Scrollbar-thumb-bg: var(--Common-light);
    --Scrollbar-thumb-radius: var(--Scrollbar-radius);
    
    /* Scrollbar -> thumb:hover */
    --Scrollbar-thumb-hover-bg: var(--Common-light);
    
    /* Scrollbar -> thumb:active */
    --Scrollbar-thumb-active-bg: var(--Main-color);

    /* Scrollbar -> track */
    --Scrollbar-track-bg: var(--Common-dark);
    --Scrollbar-track-radius: var(--Scrollbar-radius);
    
    /* Global css */
    background-color: var(--Window-bg);
    color: var(--Font-color);
    font-family: var(--Font-normal);
}

* {
    list-style: none; 
    text-decoration: none;
}

a, a:hover { 
    color: var(--Font-color);
    text-decoration: none;
    border: 0;
}

::-webkit-scrollbar {
     width: var(--Scrollbar-size);
}

::-webkit-scrollbar-track {
    background-color: var(--Scrollbar-track-bg);
    border-radius: var(--Scrollbar-track-radius);
    margin: 5px 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Scrollbar-thumb-bg);
    border-radius: var(--Scrollbar-thumb-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--Scrollbar-thumb-hover-bg);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--Scrollbar-thumb-active-bg);
}

::-webkit-resizer,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece { 
    display: none;
}

input[type~="text"],
input[type~="number"],
input[type~="password"] {
    background: var(--Input-bg);
    border:  var(--Input-border);
    border-radius: var(--Input-radius);
    box-shadow: var(--Input-shadow);
    color: #FFF;
    font-size:  0.95em;
    font-weight: normal;
    line-height: 0.70em;
    outline: var(--Input-outline);
    padding: 7px 15px;
    transition: background .2s ease;
    width: 199px;
}


